

.power
{
    display: flex;
    align-items: center;
}

    .power input
    {
        margin: 0px 0 0 0;
        font-size: 30px;
        width: 120px;
        height: 50px;
        text-align: right;
        border: #a4cbef;
        background-color: #a4caee
    }

    .power sup input
    {
        font-size: 24px;
        width: 50px;
        height: 30px;
        text-align: left;
    }

.result
{
    margin: 20px 20px;
}

.result h3
{
    margin: 0;
}

.power button
{
    margin: 30px;
}

/*.sunrise-bg {
     Градиент от lightskyblue к pink 
    background: linear-gradient( 45deg, darkblue, pink );
     Плавная анимация (15 секунд, туда‑обратно) 
    animation: sunrise-animation 25s infinite alternate;
     Растягиваем градиент, чтобы он мог «ездить» 
    background-size: 400% 400%;
     На всю высоту и ширину 
    min-height: 100vh;
    width: 100%;
}

@keyframes sunrise-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}*/





